.select_multiple ul {
	margin: 0; padding: 0; list-style-type: none; overflow: auto; position: relative;
}
.select_multiple ul li {
	cursor: pointer;
}
.select_multiple ul li.active {
	background-color: #bbbbbb;
}